@model IEnumerable<TrashCollectorApp.Models.PickUp>

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dashboard</h1>
<div class="col-lg-12">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Customer.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer.Balance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer.AccountIsActive)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Customers)
            {
            <tr>
                <td>
                    @item.FirstName
                </td>
                <td>
                    @item.LastName
                </td>
                <td>
                    @item.StartDate
                </td>
                <td>
                    @item.EndDate
                </td>
                <td>
                    @item.Balance
                </td>
                <td>
                    @item.AccountIsActive
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="Customers" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-controller="Customers" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Suspend" asp-controller="Customers" asp-route-id="@item.Id">Suspend</a> |
                    <a asp-action="Resume" asp-controller="Customers" asp-route-id="@item.Id">Resume</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

    <hr />
    <div class="row">
        <div class="col-lg-3">
            <p>
                <a asp-action="Create" asp-controller="PickUps">New Pick-Up</a>
            </p>
        </div>
    </div>
    <hr />
    <div class="col-lg-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Choice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Confirmed)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Choice.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Confirmed)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-controller="PickUps" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-controller="PickUps" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-controller="PickUps" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
