@model TrashCollectorApp.Models.Customer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }
    </style>
</head>

<body>

    <div>
        <h4>Customer</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Address.StreetAddress)
                <br />
                @Html.DisplayFor(model => model.Address.City)
                <br />
                @Html.DisplayFor(model => model.Address.State)
                <br />
                @Html.DisplayFor(model => model.Address.ZipCode)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AccountIsActive)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AccountIsActive)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StartDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EndDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Balance)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Balance)
            </dd>
        </dl>
    </div>
    <div id="map"></div>
    <div>
        <a asp-action="Edit" asp-controller="Customers" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Dashboard" asp-controller="Customers">Back to List</a>
    </div>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJLjyFDMlKuRh-0eLmQnB3PoivI8Ku0_o&callback=initMap"
            type="text/javascript"></script>
</body>
</html>